{% extends 'main.html' %}


{% block content %}

<div class="grid grid-cols-12">
    <div class="col-span-4 py-5 ">
        <div class = "size-60 mx-auto">
            <img class="max-h-fit" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1726272000&semt=ais_hybrid" alt="" />
        </div>
        <div class="text-center">
            <ul>
                <li>
                    User: {{user.username}}
                </li>
                <li>
                    Reviews: {{reviews.count}}
                </li>
            </ul>

        </div>
    </div>
    <div class=" pl-3 pb-3 max-h-96 col-span-8  overflow-y-auto ">
        <div class ="pt-3 mb-4">
            <h2 class=" text-2xl border-b">My Venues</h2>
        </div>
        <div class="">
            <ul class="">
                {% for venue in venues %}
                <li class="flex pt-2 place-items-center min-w-8  border pl-2">
                    <div class="min-w-8 w-1/4">
                        <a href="{% url 'venues:detail' venue.id %}">{{ venue.name }}</a>
                        <div>
                            {%if venue.is_active%}   
                                <p class="text-xs text-green-300">(Active)</p>
                            {%else%}
                                <p class="text-xs text-red-300">(Unactive)</p>
                            {%endif%}
                        </div>
                    </div>
                    <div>
                        Rating: {{venue.avg_rating}}
                    </div>
                    <div class="flex ml-auto mx-2 ">
                        <div class="">
                            <button type="button" class="bg-blue-600 hover:bg-blue-500 text-white my-4 rounded">
                                <a class=" py-1 px-3 block" href="{% url 'venues:update-venue' venue.id %}">Edytuj</a>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="bg-red-600 hover:bg-red-400 text-white my-4 ml-2 rounded">
                                <a class=" py-1 px-3 block" href="{% url 'venues:delete-venue' venue.id %}">Usuń</a>
                            </button>
                        </div>
                        

                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-span-12 pl-4 ">
        <div class ="pt-2 border-b">
            <h2 class="text-2xl">My Reviews</h2>
        </div>
        <div class="grid grid-cols-8">
            {% for review in reviews %}

            <div class="col-span-8 border-b py-2 px-7" >
                <div class="col-span-6">
                    <a class="italic text-lg" href="{% url 'venues:detail' review.venue.id %}">{{ review.venue }}</a>

                </div>
                <div class="col-span-2">Rating: {{review.avg_rating}}</div>
                <div class="col-start-2 text-center col-span-6 flex-col px-3 pb-3 mt-5">
                    <div class="text-xl py-2">
                        {{ review.title}}
                    </div>
                    <div class="text-xs leading-4 text-pretty line-clamp-3">
                        {{ review.description}}
                    </div>
                </div>
            </div>
                
            {% endfor %}    
        </div>

    </div>
</div>

{% endblock content %}