{% extends 'main.html' %}


{% block content %}
<div class="grid grid-cols-9 mt-5 ">
    <div class="col-start-2 col-span-7 pl-4 py-4 rounded shadow border px-5 ">
        <form method="POST" action="">
            {% csrf_token %}
            {{ review_form }}
            {% for field in rating_form%}
            <div class="border shadow my-6">
                <div class="text-center pt-2 text-xl">
                    {{field.label}}
                </div>
                <div class="text-center text-xs my-2">
                    {{field.help_text}}
                </div>
                <div class="pt-4">
                    {{field}}
                </div>
            </div>
            {% endfor %}
            <button type="submit" value="Submit" name="review_create" class="bg-green-800 hover:bg-green-500 text-white my-4 py-2 px-4 rounded">
                Dodaj
            </button>
        </form>
    </div>
</div>

{% endblock content %}