{% extends 'main.html' %}

{% block content %}
    <div class="mt-5 mx-10">
    <div class="grid grid-cols-3 gap-4">
            {% for venue in venues %}
        <div>
            <div class="rounded-lg dark:bg-surface-dark border-2">
                <div class="relative bg-cover bg-no-repeat">
                    <img class="rounded-t-lg" src="https://tecdn.b-cdn.net/img/new/standard/nature/186.jpg" alt="" /><a href="#!">
                    <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                    </div>
                </a>
                </div>
                <div class="p-6 text-surface">
                    <h3 class="mb-2 text-xl font-medium leading-tight"><a href="{% url 'venues:detail' venue.id %}">{{ venue.name }}</a>
                    </h3>
                    <div class="dark:text-blue-700">
                        {% for category in venue.categories.all %}
                            {{ category.name }}
                            {% endfor %}
                    </div>
                    <div>
                    </div>
                    <div>
                        <button type="button" class="bg-blue-600 hover:bg-blue-500 text-white my-4 py-2 px-4 rounded">
                            <a href="{% url 'venues:update-venue' venue.id %}">Edytuj</a>
                        </button>
                        <button type="button" class="bg-red-600 hover:bg-red-400 text-white my-4 py-2 px-4 rounded">
                            <a href="{% url 'venues:delete-venue' venue.id %}">Usuń</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
</div>
{% endblock content %}