{% extends 'main.html' %}

{% block content %}
    <div class="mt-5 mx-10">
        <div class="grid grid-cols-4 gap-7">
            <div class="col-span-3">
                <div class="grid grid-cols-12 gap-6">
                    {% for venue in venues %}
                        {% if venue.is_active %}
                            <div class="col-span-4">
                                <div class="rounded-lg dark:bg-surface-dark border-2">
                                    <div class="relative bg-cover bg-no-repeat">
                                        <img class="rounded-t-lg" src="https://tecdn.b-cdn.net/img/new/standard/nature/186.jpg" alt="" />
                                        <a href="{% url 'venues:detail' venue.id %}">
                                            <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="p-6 text-surface">
                                        <h3 class="mb-2 text-xl font-medium leading-tight">
                                            <a href="{% url 'venues:detail' venue.id %}">{{ venue.name }}</a>
                                        </h3>
                                        <div class="dark:text-blue-700">
                                            {% for category in venue.categories.all %}
                                                {{ category.name }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endif%}
                    {% endfor %}
                </div>
            </div>
            <div id="menu" class="col-span-1 border">
                <div class="m-2">
                    <div>
                        Search console
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}