{% extends 'main.html' %}
This is all venues page

{% block content %}
    <div class="mt-5 mx-10">
    <div class="grid grid-cols-3 gap-4">
            {% for venue in venues %}
        <div>
            <div class="rounded-lg dark:bg-surface-dark border-2">
                <div class="relative bg-cover bg-no-repeat">
                    <img class="rounded-t-lg" src="https://tecdn.b-cdn.net/img/new/standard/nature/186.jpg" alt="" /><a href="#!">
                    <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                    </div>
                </a>
                </div>
                <div class="p-6 text-surface dark:text-blue-700">
                    <h3 class="mb-2 text-xl font-medium leading-tight"><a href="{% url 'venues:detail' venue.id %}">{{ venue.name }}</a>
                    </h3>
                    <div>
                        {% for category in venue.categories.all %}
                            {{ category.name }}
                            {% endfor %}
                    </div>


                    <div>
                    </div>
                    <button type="button" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                        <a href="{% url 'venues:update-venue' venue.id %}">Edit</a>
                    </button>
                    <button type="button" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-red-700 shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                        <a href="{% url 'venues:delete-venue' venue.id %}">Delete</a>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
</div>
{% endblock content %}