<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Knajping</title>
    {% tailwind_css %}
</head>
<body class = 'w-full min-h-screen '>
    <header class="border-b-2 ">
        {% include 'header.html' %}
    </header>
        <div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <main class="flex flex-col min-h-screen">
        {% block content %}
    
    
        {% endblock %}
        </main>
        <footer class= "border-black/10 border-t-2 py-2 mt-2 bg-gray-400/20">
            {% include 'footer.html' %}
        </footer>


</body>

</html>